/* natural box model */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

.container {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    padding: 2.0em 0.5em;
}

/*
    NAVIGATION
*/

.nav-container {
    margin: 0 auto;
    padding: 1px 10px;
    background: url("../images/marble2.jpg");
    background-size: auto;
    /* https://pixabay.com/p-2398946/?no_redirect */
}

nav ul {
    list-style-type: none;
    display: flex;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 55px;

}

nav ul li {
    padding-right: 30px;
    text-align: left;
    font-weight: bold;
}

nav .fname {
    font-size: 50px;
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 0;
}

nav .lname {
    font-size: 50px;
    margin-top: -15px;
    padding-left: 20px;
    margin-bottom: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* TURNING OFF (IN PROGRESS) */
.smallNav {
    display: none;
}

/* PROFILE PICTURE */
.profile-picture {
    background: url("../images/sebastian.jpg") no-repeat;
    background-size: cover;
    height: 700px;
}

/* ABOUT ME SECTION */
p {
    text-align: justify;
    line-height: 30px;
}

/* JQUERY GALLERY */
.wrapper {
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.gallery-container {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}


.shuffle-me {
    width: 25%;
    height: 150px;
    margin: 2%;
    display: block;
    position: relative;
    float: left;
    width: 26%;
    height: 209px;
    overflow: hidden;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.info h1 {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin: 55px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0;

}

.shuffle-group {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.shuffle-group .shuffle-me {
    width: 31.9%;
    float: left;
    margin: 5px;
}

.shuffle-group .shuffle-me:first-child {
    width: 66%;
    float: left;
    height: 431px;
}

.shuffle-group .shuffle-me:first-child h1 {
    margin-top: 190px;
    font-size: 30px;
}

/*
    TYPOGRAPHY
*/

h1,
h2,
h3,
h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

p,
li {
    font-family: 'Roboto', sans-serif;
}

/*
    IMAGES
*/
img {
    width: 100%;
    display: block;
}

/* clearfix - in case you decide to float elements */
.group::after {
    content: "";
    display: table;
    clear: both;
}



/* MEDIA QUERIES */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* body { background-color: orange; } */

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* body { background-color: green; } */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* body { background-color: blue; } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* body { background-color: purple; } */
}